body {
  font-family: Arial;
  background: #f4f6f8;
}

.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-box {
  background: white;
  padding: 30px;
  width: 300px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.auth-box input,
.auth-box button,
.task-form input,
.task-form button,
select {
  padding: 10px;
  margin-top: 5px;
}

.dashboard {
  padding: 20px;
}

.task-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  margin-top: 20px;
}

.task-card {
  background: white;
  padding: 15px;
  border-radius: 8px;
}

.logout {
  float: right;
  background: red;
  color: white;
  border: none;
  padding: 8px 12px;
}